<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}

            <tr>
                <td>{{this.Name}}</td>
                <td>{{this.Email}}</td>
                <td><a href="" class="btn btn-primary">Edit</a>
                    <a href="/admin/delete-account/{{this._id}}" class="btn btn-danger">Delete</a>
                    <a href="/admin/orders/{{this._id}}" class="btn btn-success">Orders</a>
                </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>